@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

footer{
    position: relative;
    width: 100%;
    min-height: 602px;
    background-color: #244831;
    color: #FDD650;
    font-family: "Merriweather", serif;
    font-size: 36px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}
footer ul{
    list-style-type: none;
}

footer a{
    color: #fff;
    font-family: "Work Sans", sans-serif;
    text-decoration: none;
    font-size: 32px;
    font-weight: 500;
}

#parte_superior{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding-top: 26px;
}
#redes a{
    margin-top: 5px;
    display: flex;
    align-items: center;
}

#linha_vertical{
    height: 400px;
    width: 2px;
    background-color: #fff;
}
#linha_horizontal{
    width: 100%;
    height: 6px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

hr{
    width: 90.28%;
    height: 4px;
    background-color: #fff;
    flex-shrink: 0; /*Isso impede que o flexbox reduza o tamanho do elemento.(Questão com o display: flex e flex-direction: column no no footer;)*/
}

#parte_inferior{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    font-family: "Work Sans", sans-serif;
    justify-content: space-around;
}

#parte_inferior img{
    width: 234px;
    height: 140px;
}

/*-----------------------------------------------------*/
@media only screen and (min-width:481px){
        @media only screen and (max-width:720px) {


            #data {
                width: 95%;
            }

            body{
                max-width: 800px;
                min-width: 320px;
            }

            #container {
                 min-height: 650px;
                 max-width: 800px;
            }

            #slogan{
                display: none;
            }

           #pesquisa{
                font-size: 15px;
                border-radius: 15px;
            } 

            #lupa_pesquisa{
                display: none;
            }

            #form_pesquisa{
                width: 30%;   
            }

            .fundo_sobre_nos{
                width: 55%;
            }

            #missao{
                height: 30%;
            }

            #missao img{
               margin-top: -45%;
               justify-content: center;
            }

            #missao p{
                justify-content: center;
                margin-left: 130px;
                font-size: 75%;
                padding-bottom: 10%;
            }

            #visao{
                height: 30%;
            }

            #visao img{
                margin-top: -160px;
            }

             #visao p {
                justify-content: center;
                margin-left: 150px;
                font-size: 75%;
                padding-bottom: 10%;
             }

            #valores{
                height: 30%;
                justify-content: center;
            }

             #valores img{
                margin-top: -45%;
            }

             #valores p {
                font-size: 75%;
                justify-content: center;
                margin-left: 120px;
                padding-bottom: 2%;
            }

            .criadores{
                width: 270px;
            }

            footer {
                height: auto;
                padding: 60px;
            }
            
            footer a{
                font-size: 20px; 
            }

            #parte_superior{
                font-size: 70%;
                display: flex;
                flex-direction: column;
                gap: 40px;
            }

            #redes a{
                font-size: 20px;
                display: flex;
                align-items: flex-start;
            }
            
            #linha_vertical{
                display: flex;
                justify-content: center; 
                display: none;           
            }

            #linha_horizontal{
                display: flex;
                justify-content: center;
                align-items: center;
            }

            #parte_inferior{
                font-size: 10px;
                display: flex;
                flex-direction: column;

            }

            #parte_inferior img{
                 width: 200px;
                 height: 120px;
            }
    }
 } 
    
