
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body{
    width: 100%;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background:#EBF8E5;
}

#container{
    width: 100%;
    background-color: white;
    border-radius: 0%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    border-radius: 0px 0px 60px 60px;
}

/*Foi o que deixou o botão centralizado (sem o flex-direction: column, o css não entendeu que precisava deixar o botão centralizado verticalmente, então deixou ele na horizontal)*/

/*Foi o que fez o botão ficar centralizado verticalmente*/

section{
    display: flex;
    align-items: center;
    flex-direction: column; 
}

#logotipo img{
    position: relative;
    right: 480px;
    width: 200px;
    height: 220px;
}

.fundo_sobre_nos{
width: 40%;
height: 70px;
background-color: orangered;
text-align: center;
justify-content: center;
align-items: center;
display: flex;
padding: 10px;
margin: 0 auto;
margin-top: -140px;
border-radius: 50px 0px 50px 0px;
}

h1{
    margin: 0;
    color: white;
}

#texto_sobre_nos{
    text-align: center;
    text-align: justify;
    padding: 40px;
    max-width: 800px;
    font-size: 18px;
    top: 10px;
}

#missao{
    width: 85%;
    height: 170px;;
    background-color: white;
    border-radius: 10px;
    margin-top: 60px;
    font-size: 30px;
    padding: 50px;
} 

#missao img{
    width: 70px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -85px;
}

#missao p {
    margin-left: 200px;
}

#visao{
    width: 85%;
    height: 170px;
    background-color: white;
    border-radius: 10px;
    margin-top: 30px;
    font-size: 30px;
    padding: 50px;
}

#visao p {
    margin-left: 200px;
}

#visao img{
    width: 80px;
    height: 80px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: -85px;
}

#valores{
    width: 85%;
    height: 170px;
    background-color: white;
    border-radius: 10px;
    margin-top: 30px;
    font-size: 30px;
    padding: 50px;
}

#valores img{
    width: 80px;
    height: 100px;
    display:flex;
    margin-top: -110px;
}

#valores p{
   margin-left: 200px;
}

.criadores{
    width: 30%;
    height: 70px;
    color:white;
    font-family: "Work Sans", sans-serif;
    background-color: orangered;
    margin-top: 100px;
    border-radius: 50px 0px 50px 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font:bolder;
    font-size: 40px;
}


.container_fotos{
    width: 45%;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "Work Sans", sans-serif;
    display: flex;
    gap: 100px;
}

.container_fotos img{
    max-width: 200px;
    height: 200px;
}

.container_fotos p {
    text-align: center;
    font-size: 25px;
    }

footer{
    background-color: #264833;
    width: 100%;
    height: 400px;
    margin-top: 50px;
    color: white;
}

